* {margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto';
	background-image: url(../img/svg/Background.svg);
	font-size: 16px;
	height: calc(100vh - 5rem);
}

@font-face {
	font-family: Amarante, cursive; /* Имя шрифта */
	src: url(../fonts/Amarante-Regular.ttf);
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

/* Header navigation */

.grid {
	display: grid;
}

.flex {
	display: flex;
}

a {
	text-decoration: none;
}

.page {
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	margin: 0 5vw;
	background-image: url(../img/svg/Background.svg);
	min-height: calc(100vh - 5rem);
}

/* nav start */

.nav {
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 1rem;
	margin-bottom: 2rem;
	min-height: 3rem;
	padding-top: 1rem;
	height: 5rem;
}

.logo {
	grid-column: span 3;
	grid-row: span 5;
	font-family: Amarante, cursive;
	font-size: 3rem;
}

.logo a {
	padding: 1rem;
	color: tomato;
}

.logo a:hover {
	border-bottom: 3px solid tomato;
	border-bottom-style: inset;
	color: firebrick;
	transition: box-shadow .3s;
	box-shadow: 6px 10px 15px rgba(220, 125, 100, .5);
}

.logo a:active {
	color: firebrick;
	transition: box-shadow .2s;
	box-shadow: 3px 4px 15px rgba(220, 125, 100, .5);
}

.logo a:visited {
	color: darkslategray;
}

.menu {
	text-align: center;
	grid-template-columns: 1fr;
	transition: box-shadow .3s;
	color: darkslategray;
	box-shadow: 2px 3px 5px rgba(220, 125, 70, .5);
	border-radius: 5px;
	border-bottom: 2px;
}

.menu:hover {
	border-bottom: 2px solid tomato;
	border-bottom-style: inset;
	color: firebrick;
	box-shadow: 6px 10px 15px rgba(220, 125, 100, .5);
}

.low-menu {
	display: none;
	text-align: center;
	font-size: 3rem;
	color: darkslategray;
}

.low-menu:active {
	color: firebrick;
}
/* nav end */
/* slider start */

.slider {
	position: relative;
	margin-bottom: 5vh;
}

.my-slides {
	flex-direction: column;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.my-slides img {
	height: 40vh;
	width: 100%;
	object-fit: contain;
}

.slideshow-container {
	width: 90vw;
	height: 40vh;
}

.p_work {
	background: rgba(68,68,68,.6);
	width: auto;
	height: 3.7rem;
	margin-bottom: auto;
}

.span_months {
	padding: 0.5rem 0 0 0.5rem;
	font-family: Amarante;
	font-weight: 400;
	color: rgb(220,220,220);
}

.span_work {;
	font-family: Amarante;
	font-size: 1.5rem;
	color: white;
}

.slide-descr-head {
	font-weight: 300;
	margin-bottom: 1rem;
}

.slide-descr {
	font-size: 12px;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

.rectangle {
	height: 5px;
	width: 28px;
	margin: 0 2px;
	background-color: whitesmoke;
	display: inline-block;
	transition: background-color 0.6s ease;
} 

.rect-container {
	position: relative;
	right: 12vw;
	bottom: 8rem;
	float: right;
	text-align: center;
}

.active {
	background-color: darkslategray;
}

@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}

/* featured start */

h2 {
	display: none;
}

.featured {
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	margin-bottom: 3rem;
	grid-gap: 3rem;
}

.project_block img {
	width: 100%;
	height: 22vh;
	object-fit: contain;
}

.feat_p {
	font-size: 12px;
}

.text {
	font-size: 20px;
	font-family: "Roboto";
	font-weight: lighter;
	margin-bottom: 3vh;
	margin-left: 3rem;
}

.arrow:before {
	position: absolute;
	background-image: url(../img/more-icon.jpg);
	width: 1rem;
	height: 9px;
	content: " ";
}

.arr-pos {
	position: relative;
	right: 1.5rem;
	top: .3rem;
}

.read-more {
	margin-left: 1.5rem;
}

.first-col:before {
	background-image: url(../img/svg/magnify_glass.svg);
	position: absolute;
	width: 2.6rem;
	height: 2.3rem;
	content: ' ';
}

.sec-col:before {
	background-image: url(../img/svg/star.svg);
	position: absolute;
	width: 2.9rem;
	height: 2.5rem;
	content: ' ';
}

.third-col:before {
	background-image: url(../img/svg/message.svg);
	position: absolute;
	width: 3rem;
	height: 2.5rem;
	content: ' ';

}

.feat-pos {
	position: relative;
	right: 3.5rem;
}

/* featured end */
/* Projects start */

.projects {
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap: 1.5rem;
	margin-bottom: 1.5rem;
}

.latest_work {
	text-align: center;
	font-size: 1.1rem;
	font-weight: lighter;
	margin-bottom: 1.5rem;
}

.project_block {
	grid-gap: 2rem;
}

.project_header {
	font-size: 14px;
	font-weight: normal;
}

.project_p {
	font-size: 12px;
}

.footer {
	grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
	text-align: center;
	min-height: 5rem;
	padding-top: 2rem;
}

 /*media queries*/

@media (min-width: 1025px) and (max-width: 1280px) {

	.logo {
		grid-column: 1/span 4;
	}
}

@media (min-width: 768px) and (max-width: 1024px) {

	.logo {
		grid-column: 1/span 2;
	}

	.latest_work {
		margin: 5vh;
	}

	.nav_about {
		grid-column-start: 3;
	}
}

@media (min-width: 481px) and (max-width: 767px) {

	.low-menu {
		display: block;
		grid-column: 4;
	}

	.logo {
		/*grid-area: logo;*/
		grid-column: 1;
		grid-row: 1; 
	}

	.my-slides img {
		height: 30vh;
	}

	.featured {
		margin: 5vh 0;
	}

	.project_block img {
		height: 30vh;
	}

	.nav {
		margin-bottom: 20vh;
	}

	.latest_work {
		margin: 5vh;
	}

	.menu {
		grid-row: 2;
	}
}

@media (min-width: 320px) and (max-width: 480px) {

	.nav {
		margin-bottom: 20vh;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.logo {
		grid-column: 1/1;
		grid-row: 1/1;
	}

	.low-menu {
		display: block;
	}

	.rect-container {
		display: none;
	}

	.my-slides img {
		height: 20vh;
	}
}